<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your tasks</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div>
    <h2>Welcome to your task list</h2>
</div>
<div>
    <label>Create your task list</label>
    <form action="#"  method="post"  th:action="@{'/createnew'}"
          th:object="${taskList}">
        <input th:field="*{title}" type="text" required >
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>
</body>
</html>