<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <h2>This is yours tasks</h2>

    </div>
    <div class="row justify-content-md-center">
        <strong>Your token : </strong>
        <label th:text="${tasks.getToken()}"></label>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>

                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Is finished</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${task.done}" class="table-success" th:each="task : ${tasks.getListOfTasks()}">
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.done}"></td>
                <td><a th:href="@{/tasks/finish/{id}(id=${task.id})}" class="btn btn-dark">Finished</a></td>
                <td><a th:href="@{/tasks/delete/{id}(id=${task.id})}" class="btn btn-danger">Delete</a></td>
            </tr>
            <tr th:unless="${task.done}" class="table-warning" th:each="task : ${tasks.getListOfTasks()}">
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.done}"></td>
                <td><a th:href="@{/tasks/finish/{id}(id=${task.id})}" class="btn btn-dark">Finished</a></td>
                <td><a th:href="@{/tasks/delete/{id}(id=${task.id})}" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>

    </div>
    <br>
    <div class="row justify-content-md-center">
        <h6>Add new Task</h6>
    </div>
    <form action="#" method="post" th:action="@{/task/save}" th:object="${newTask}">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" th:field="*{title}" type="text" required/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" th:field="*{description}" type="text" required/>
        </div>
        <input th:field="*{taskList}" type="hidden"/>
        <div class="row justify-content-md-center">
            <button class="btn btn-primary mt-2" name="action" type="submit">Add</button>
        </div>
    </form>
    <a class="btn btn-success btn-block m-2" th:href="@{/}" type="submit">Return</a>
</div>

</div>

</body>
</html>